{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Editer un produit</h1>

    <a href="#">
        <button class="btn btn-primary">
            Retour à la liste des produits
        </button>
    </a>

    <div class="container mt-5">
        {{ include('product/include/_form.html.twig') }}
    </div>

{% endblock %}